<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>
<body>

    <div id="app">
        <form action="">
            <span>{{ count }}/30</span>
            <textarea  v-model="textValue"></textarea>
            <button v-if="count <= 30">Send</button>
        </form>
        <h3 ref="heading">{{ title }}</h3>
        <p> {{ newField }}</p>
        <button @click="changeTitle">Change</button>
    </div>

    <hr>

    <div id="app2">
        <h3>{{ title2 }}</h3>
        <button @click="changeTitleOne">Change Titel One</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vue1 = new Vue({
            el: '#app',
            data: {
                textValue: '',
                title: 'Product title',
                newField: ''
            },
            methods: {
                changeTitle: function(){
                    this.title = 'New Product'
                    this.$refs.heading.style.color = "blue"
                    console.log(document.querySelector('h1'))
                },
                
                alertTest: function(){
                    alert('I am from app1')
                }
                
            },
            computed: {
                count: function() {
                    return this.textValue.length
                }
            },
            watch: {
                textValue: function(value){
                    console.log(value)
                }
            }

        });

        //consol.log(vue1)
        //vue1.newField = 'Test'

        new Vue({
            el: '#app2',
            data: {
                title2: 'Title to'
            },
            methods: {
                changeTitleOne: function(){
                    vue1.title = 'Zupelnie nowy tytul zmieniony z Vue app2'
                    vue1.newField = 'Zmienione pole newField'
                    setTimeout(function(){
                        vue1.alertTest()
                    },1000)
                }
            }
        });

    </script>
</body>
</html>