<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js template</title>
</head>
<style>
    .large { font-size: 40px;
                color:blueviolet;
                padding: 5px 20px;
            }
    .border { border: 2px solid blueviolet;
                border-radius: 5px;
                padding: 5px 20px;
            }
</style>

<body>
    <div id="app">

    </div>
    <div id="app2">
        <h3>Zmiana właściwości Css</h3>
        <button :class="getCss" :style="getStyle">{{ titleButton }}</button>
        <ul>
            <li><input type="checkbox" v-model="fontSize"><label for="">Font Size</label></li>
            <li><input type="checkbox" v-model="border"><label for="">Border</label></li>
            <li><input type="text" v-model="bgColor"><label for="">Background Color</label></li>
            <li><input type="range" v-model="range"><label for="">Range</label></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vue = new Vue({
            data: {
                title: 'Zastosowanie template'
            },
            template: '<div><h3>{{ title }}</h3><p>W skrypcie nie ma odwołania do el: #app. Jest natomiast vue.$mount() Wszystko musi być zamknięte w jednym elemencie np. div</p><p>Dla formatowania kodu w vs code nacinij: <b>shfit + alt + f</b></p></div>'
        });

        
        var vue2 = new Vue({
            el: '#app2',
            data: {
                titleButton: 'Test button',
                fontSize: false,
                border: false,
                bgColor: 'yellow',
                range: 20

            },
            computed: {
                getCss() {
                    return {
                        'large': this.fontSize,
                        'border': this.border
                    }
                },
                getStyle() {
                    return {
                        'background-color': this.bgColor,
                        'margin-left': this.range + '%'
                    }
                }
            }
        }); 

        vue.$mount('#app')

    </script>
</body>

</html>